<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='stylelogin.css') }}">
    <title>Sign In</title>
</head>
<body>
    <!--ring div starts here-->
<div class="ring">
    <i style="--clr:#00ff0a;"></i>
    <i style="--clr:#ff0057;"></i>
    <i style="--clr:#fffd44;"></i>
    <style>
      .error-message {
          color: white; /* 오류 메시지의 텍스트 색상을 하얀색으로 설정 */
      }

      .sign-in-button {
          background-color: rgb(162, 0, 255); /* 버튼의 배경색을 노란색으로 설정 */
          color: black; /* 버튼 텍스트 색상을 검정색으로 설정 */
          padding: 10px 20px; /* 버튼의 패딩 설정 */
          text-decoration: none; /* 링크에 밑줄 제거 */
          border-radius: 5px; /* 버튼의 모서리를 둥글게 설정 */
      }
  </style>
    <div class="login">
      <h2>Login</h2>
      {% if error_message %}
      <div class="error-message">{{ error_message }}</div>
      {% endif %}

      <form action="/login" method="post">
      <div class="inputBx">
        <input type="text" id="site_id" name="site_id" placeholder="Username"><br><br>
      </div>
      <div class="inputBx">
        <input type="password" id="site_password" name="site_password" placeholder="Password"><br><br>
      </div>
      <div class="inputBx">
        <input type="submit" value="login"><br><br>
      </div>
      <div class="links">
        <a href="{{ url_for('register') }}" class="sign-in-button">Signup</a>
      </div>
    </div>
  </div>
</form>
  <!--ring div ends here-->
</body>
</html>